# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db

_posts/2015-01-04-first-post.md
_posts/2015-01-15-pirates.md
_posts/2015-01-19-soccer.md
_posts/2015-01-27-dear-diary.md
_posts/2015-02-13-hamlet-monologue.md
_posts/2015-02-26-flake-it-till-you-make-it.md
_posts/2015-02-28-test-markdown.md
run_jekyll.sh
*.cty

/yiddish/הײַנט בין איך אַ מענשט: די בר-מיצווה ווי דער סוד פֿון ייִדישער הצלחה.md
/yiddish/די רעשטע פּון אדרת.md
/yiddish/בויען אַ שול.md
/yiddish/טראַנסהומאַניזם.md
/yiddish/.idea/
.idea/
/yiddish/די רעשטע פֿון אדרת.md
/yiddish/די בר-מיצווה.md
/yiddish/טראַנסהומאַניזם איז הומאַניזם.md
