# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
thumbs.db

.jekyll-metadata

temp*.py
run_jekyll.sh
*.cty

/yiddish/.idea/
.idea/
/venv/
/googledocs/venv/
/googledocs/virtenv/
/googledocs/virtual_env/
/googledocs/virtualenv/
_yiddish_from_google_docs/
/venv/
TEMP*
